In [207]:
import pandas as pd
from pathlib import Path
import yfinance as yf
import numpy as np
import csv

import warnings
warnings.filterwarnings('ignore')

In [165]:
payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df_500 = payload[0]

In [185]:
tickers_500 = list(df_500["Symbol"])

In [234]:
season_start_month = ["2","5","8","11"]

In [279]:
start_date = "2019-12"
end_date = "2020-06"

In [280]:
%%time
momentum_list = []
id_list = []
_fail_symbols=list()
l = 0

for ticker in tickers_500:
    try:
        p = 0
        n = 0
        # Return the historical data
        price = yf.Ticker(ticker).history(period="2y")
        
        price_2020 = price.loc[start_date:end_date]
        
        # Generate the simple return for each day
        price_2020["return"] = price_2020["Close"].pct_change()

        # Calculate the number of days for both having positive and negative return
        for ret in price_2020["return"]:
            if ret >= 0:
                p = p+1
            else:
                n = n+1
        
        # Calculate the sign of cumulative return of the ticker
        cum_ret = np.sign((1 + price_2020["return"]).cumprod().tail(1)[0])

        # %Negative day - %Positive day
        n_p = n/(n+p) - p/(n+p)
        
        # Quality Momentum measurement
        QM = cum_ret * n_p
        id_list.append(QM)
        
        # Calculate the momentum indicator for the ticker
        momentum = np.prod(1 + price_2020["Close"].groupby(by=[price_2020.index.month]).tail(1).pct_change()) - 1
        momentum_list.append(momentum)
        
        l = l+1
        print(l, ticker)
    except KeyError as e:
        print(ticker, e)
        _fail_symbols.append(ticker)

1 MMM
2 ABT
3 ABBV
4 ABMD
5 ACN
6 ATVI
7 ADBE
8 AMD
9 AAP
10 AES
11 AFL
12 A
13 APD
14 AKAM
15 ALK
16 ALB
17 ARE
18 ALGN
19 ALLE
20 LNT
21 ALL
22 GOOGL
23 GOOG
24 MO
25 AMZN
26 AMCR
27 AEE
28 AAL
29 AEP
30 AXP
31 AIG
32 AMT
33 AWK
34 AMP
35 ABC
36 AME
37 AMGN
38 APH
39 ADI
40 ANSS
41 ANTM
42 AON
43 AOS
44 APA
45 AAPL
46 AMAT
47 APTV
48 ADM
49 ANET
50 AJG
51 AIZ
52 T
53 ATO
54 ADSK
55 ADP
56 AZO
57 AVB
58 AVY
59 BKR
60 BLL
61 BAC
62 BBWI
63 BAX
64 BDX
65 BBY
66 BIO
67 TECH
68 BIIB
69 BLK
70 BK
71 BA
72 BKNG
73 BWA
74 BXP
75 BSX
76 BMY
77 AVGO
78 BR
79 CHRW
80 COG
81 CDNS
82 CZR
83 CPB
84 COF
85 CAH
86 KMX
87 CCL
88 CARR
89 CTLT
90 CAT
91 CBOE
92 CBRE
93 CDW
94 CE
95 CNC
96 CNP
97 CERN
98 CF
99 CRL
100 SCHW
101 CHTR
102 CVX
103 CMG
104 CB
105 CHD
106 CI
107 CINF
108 CTAS
109 CSCO
110 C
111 CFG
112 CTXS
113 CLX
114 CME
115 CMS
116 KO
117 CTSH
118 CL
119 CMCSA
120 CMA
121 CAG
122 COP
123 ED
124 STZ
125 COO
126 CPRT
127 GLW
128 CTVA
129 COST
130 CCI
131 CSX
132 CMI
133 CVS
134 DHI
135 DHR
136 DRI
137 DVA
138 DE
139 DAL
140 XRAY
141 DVN
142 DXCM
143 FANG
144 DLR
145 DFS
146 DISCA
147 DISCK
148 DISH
149 DG
150 DLTR
151 D
152 DPZ
153 DOV
154 DOW
155 DTE
156 DUK
157 DRE
158 DD
159 DXC
160 EMN
161 ETN
162 EBAY
163 ECL
164 EIX
165 EW
166 EA
167 EMR
168 ENPH
169 ETR
170 EOG
171 EFX
172 EQIX
173 EQR
174 ESS
175 EL
176 ETSY
177 EVRG
178 ES
179 RE
180 EXC
181 EXPE
182 EXPD
183 EXR
184 XOM
185 FFIV
186 FB
187 FAST
188 FRT
189 FDX
190 FIS
191 FITB
192 FE
193 FRC
194 FISV
195 FLT
196 FMC
197 F
198 FTNT
199 FTV
200 FBHS
201 FOXA
202 FOX
203 BEN
204 FCX
205 GPS
206 GRMN
207 IT
208 GNRC
209 GD
210 GE
211 GIS
212 GM
213 GPC
214 GILD
215 GL
216 GPN
217 GS
218 GWW
219 HAL
220 HBI
221 HIG
222 HAS
223 HCA
224 PEAK
225 HSIC
226 HSY
227 HES
228 HPE
229 HLT
230 HOLX
231 HD
232 HON
233 HRL
234 HST
235 HWM
236 HPQ
237 HUM
238 HBAN
239 HII
240 IEX
241 IDXX
242 INFO
243 ITW
244 ILMN
245 INCY
246 IR
247 INTC
248 ICE
249 IBM
250 IP
251 IPG
252 IFF
253 INTU
254 ISRG
255 IVZ
256 IPGP
257 IQV
258 IRM
259 JKHY
260 J
261 JBHT
262 SJM
263 JNJ
264 JCI
265 JPM
266 JNPR
267 KSU
268 K
269 KEY
270 KEYS
271 KMB
272 KIM
273 KMI
274 KLAC
275 KHC
276 KR
277 LHX
278 LH
279 LRCX
280 LW
281 LVS
282 LEG
283 LDOS
284 LEN
285 LLY
286 LNC
287 LIN
288 LYV
289 LKQ
290 LMT
291 L
292 LOW
293 LUMN
294 LYB
295 MTB
296 MRO
297 MPC
298 MKTX
299 MAR
300 MMC
301 MLM
302 MAS
303 MA
304 MKC
305 MCD
306 MCK
307 MDT
308 MRK
309 MET
310 MTD
311 MGM
312 MCHP
313 MU
314 MSFT
315 MAA
316 MRNA
317 MHK
318 TAP
319 MDLZ
320 MPWR
321 MNST
322 MCO
323 MS
324 MOS
325 MSI
326 MSCI
327 NDAQ
328 NTAP
329 NFLX
330 NWL
331 NEM
332 NWSA
333 NWS
334 NEE
335 NLSN
336 NKE
337 NI
338 NSC
339 NTRS
340 NOC
341 NLOK
342 NCLH
343 NOV
344 NRG
345 NUE
346 NVDA
347 NVR
348 NXPI
349 ORLY
350 OXY
351 ODFL
352 OMC
353 OKE
354 ORCL
355 OTIS
356 PCAR
357 PKG
358 PH
359 PAYX
360 PAYC
361 PYPL
362 PENN
363 PNR
364 PBCT
365 PEP
366 PKI
367 PRGO
368 PFE
369 PM
370 PSX
371 PNW
372 PXD
373 PNC
374 POOL
375 PPG
376 PPL
377 PFG
378 PG
379 PGR
380 PLD
381 PRU
382 PTC
383 PEG
384 PSA
385 PHM
386 PVH
387 QRVO
388 PWR
389 QCOM
390 DGX
391 RL
392 RJF
393 RTX
394 O
395 REG
396 REGN
397 RF
398 RSG
399 RMD
400 RHI
401 ROK
402 ROL
403 ROP
404 ROST
405 RCL
406 SPGI
407 CRM
408 SBAC
409 SLB
410 STX
411 SEE
412 SRE
413 NOW
414 SHW
415 SPG
416 SWKS
417 SNA
418 SO
419 LUV
420 SWK
421 SBUX
422 STT
423 STE
424 SYK
425 SIVB
426 SYF
427 SNPS
428 SYY
429 TMUS
430 TROW
431 TTWO
432 TPR
433 TGT
434 TEL
435 TDY
436 TFX
437 TER
438 TSLA
439 TXN
440 TXT
441 TMO
442 TJX
443 TSCO
444 TT
445 TDG
446 TRV
447 TRMB
448 TFC
449 TWTR
450 TYL
451 TSN
452 UDR
453 ULTA
454 USB
455 UAA
456 UA
457 UNP
458 UAL
459 UNH
460 UPS
461 URI
462 UHS
463 UNM
464 VLO
465 VTR
466 VRSN
467 VRSK
468 VZ
469 VRTX
470 VFC
471 VIAC
472 VTRS
473 V
474 VNO
475 VMC
476 WRB
477 WAB
478 WMT
479 WBA
480 DIS
481 WM
482 WAT
483 WEC
484 WFC
485 WELL
486 WST
487 WDC
488 WU
489 WRK
490 WY
491 WHR
492 WMB
493 WLTW
494 WYNN
495 XEL
496 XLNX
497 XYL
498 YUM
499 ZBRA
500 ZBH
501 ZION
502 ZTS
CPU times: user 29.5 s, sys: 1.24 s, total: 30.8 s
Wall time: 8min 9s

In [281]:
len(id_list)

502

In [282]:
for ticker in _fail_symbols:
    tickers_500.remove(ticker)
    print(ticker)

In [283]:
d = {"Tickers":tickers_500,"Momentum":momentum_list, "ID":id_list}
df = pd.DataFrame(data=d)

In [284]:
df

    Tickers  Momentum        ID
0       MMM -0.098947  0.041096
1       ABT  0.061536 -0.068493
2      ABBV  0.140620 -0.109589
3      ABMD  0.416027 -0.041096
4       ACN  0.028270 -0.013699
..      ...       ...       ...
497     YUM -0.128794 -0.041096
498    ZBRA  0.001997  0.013699
499     ZBH -0.198917  0.041096
500    ZION -0.332707  0.027397
501     ZTS  0.038611 -0.123288

[502 rows x 3 columns]

In [285]:
momentum_100 = df.sort_values(by="Momentum", ascending=False).head(100)

In [286]:
QM_50 = momentum_100.sort_values(by="ID").head(50)

In [287]:
momentum_100.head(10)

    Tickers  Momentum        ID
315    MRNA  2.282720 -0.013699
437    TSLA  1.581240 -0.136986
175    ETSY  1.397969 -0.109589
141    DXCM  0.853342 -0.123288
167    ENPH  0.820513 -0.123288
395    REGN  0.660941 -0.095890
345    NVDA  0.616280 -0.150685
360    PYPL  0.610705 -0.082192
485     WST  0.514100 -0.109589
24     AMZN  0.492997 -0.164384

In [288]:
QM_50.head(10)

    Tickers  Momentum        ID
359    PAYC  0.169852 -0.205479
112     CLX  0.446246 -0.205479
80     CDNS  0.383506 -0.205479
426    SNPS  0.400862 -0.205479
53     ADSK  0.303772 -0.191781
428    TMUS  0.328105 -0.191781
243    ILMN  0.116386 -0.191781
320    MNST  0.090795 -0.178082
313    MSFT  0.297617 -0.178082
6      ADBE  0.319881 -0.178082

In [289]:
momentum_100.to_csv("./Data/momentum_100_2019-12-2020-06.csv")
QM_50.to_csv("./Data/QM_50_2019-12-2020-06.csv")

In [229]:
spy = yf.Ticker("spy").history(period="2y")["Close"].loc["2021-02":"2021-04"].pct_change().cumsum().apply(np.exp)
spy

Date
2021-02-01         NaN
2021-02-02    1.014241
2021-02-03    1.015038
2021-02-04    1.026641
2021-02-05    1.030690
                ...
2021-04-26    1.116164
2021-04-27    1.115923
2021-04-28    1.115603
2021-04-29    1.122735
2021-04-30    1.115382
Name: Close, Length: 63, dtype: float64